<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ article.title }}",
  "image": "{{ article.featured_image | img_url: 'original' }}",
  "alternativeHeadline": "{{ article.title }}", 
  "description": "{{ article.metatags.description }}",
  "datePublished": "{{ article.published_at | date: '%Y-%m-%d' }}",
  "dateCreated": "{{ article.published_at | date: '%Y-%m-%d' }}",
  "dateModified": "{{ article.updated_at | date: '%Y-%m-%d' }}",
  "articleBody": "{{ article.content | strip_html }}",
  "wordcount": "{{ article.content | strip_html | split: ' ' | size }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ article.url }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ shop.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ shop.logo | img_url: 'original' }}"
    }
  },
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  }
}
</script>

<div class='container container--{{ section.settings.container_size }} container--with-aside-paddings body-font-weight-from-global-settings' {{ block.shopify_attributes }}>
  <div class='rte rte--blog-post article__content body-color {{ block.settings.body_size }}'>{{ article.content }}</div>
</div>

{% for block in article.blocks %}
  {% if block.type == 'video' %}
    {% assign video_url = block.settings.video_url %}
    {% assign video_thumbnail = block.settings.video_thumbnail %}
    {% assign video_name = block.settings.video_title %}
    {% assign video_description = block.settings.video_description %}
    {% assign video_duration = block.settings.video_duration %}
    {% assign video_upload_date = block.settings.video_upload_date %}
    {% assign video_interaction_count = block.settings.video_interaction_count %}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "VideoObject",
      "contentUrl": "{{ video_url }}",
      "name": "{{ video_name }}",
      "description": "{{ video_description }}",
      "thumbnailUrl": "{{ video_thumbnail }}",
      "encodingFormat": "video/mp4",
      "uploadDate": "{{ video_upload_date }}",
      "duration": "PT{{ video_duration }}",
      "interactionCount": "{{ video_interaction_count }}"
    }
    </script>
  {% endif %}
{% endfor %}


