<nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <a href="{{ routes.root_url }}">Home</a>
  <span>&raquo;</span>
  <a href="/collections/all">Catalog</a>

  {% if collection %}
    <span>&raquo;</span>
    <a href="{{ collection.url }}">{{ collection.title }}</a>
  {% endif %}

  {% if product %}
    {% if collection %}
      <span>&raquo;</span>
      <span>{{ product.title }}</span>
    {% else %}
      <span>&raquo;</span>
      <span>{{ product.title }}</span>
    {% endif %}
  {% elsif article %}
    <span>&raquo;</span>
    <a href="{{ blog.url }}">{{ blog.title }}</a>
    <span>&raquo;</span>
    <span>{{ article.title }}</span>
  {% elsif page %}
    <span>&raquo;</span>
    <span>{{ page.title }}</span>
  {% endif %}
</nav>



