{%- liquid
  assign og_title = page_title | default: shop.name
  assign og_url = canonical_url | default: shop.url
  assign og_type = 'website'
  assign og_description = page_description | default: shop.description | default: shop.name

  if request.page_type == 'product'
    assign og_type = 'product'
  elsif request.page_type == 'article'
    assign og_type = 'article'
  elsif request.page_type == 'collection'
    assign og_type = 'product.group'
  elsif request.page_type == 'password'
    assign og_url = shop.url
  endif
-%}
<meta property='og:site_name' content='{{ shop.name }}'>
<meta property='og:url' content='{{ og_url }}'>
<meta property='og:type' content='{{ og_type }}'>
{%- if page_image -%}
  <meta
    property='og:image'
    content='http:{{ page_image | image_url: width: page_image.width, height: page_image.height }}'
  >
  <meta
    property='og:image:secure_url'
    content='https:{{ page_image | image_url: width: page_image.width, height: page_image.height }}'
  >
  <meta property='og:image:width' content='{{ page_image.width }}'>
  <meta property='og:image:height' content='{{ page_image.height }}'>
{%- endif -%}
{%- if request.page_type == 'product' -%}
  <meta property='og:price:amount' content='{{ product.price | money_without_currency | strip_html }}'>
  <meta property='og:price:currency' content='{{ cart.currency.iso_code }}'>
{%- endif -%}
{%- if settings.social_twitter_link != blank -%}
  <meta name='twitter:site' content='{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}'>
{%- endif -%}
<meta name='twitter:card' content='summary_large_image'>



    {%- liquid
      capture content_for_query_string
        echo content_for_header
      endcapture
      assign getfullurl = content_for_query_string | split: '"pageurl":"' | last | split: '"' | first | replace: '\/', '/' | replace: '\u0026', '&'
      assign noindex_data = "cart,checkouts,account,orders,search,apple-app-site-association,.well-known/shopify/monorail,recommendations/products,amp%3Bsrsltid,filter,sort_by,pr_prod_strat,accountnumber,oseid,preview_theme_id,preview_script_id" | split: ","


      assign page_param = getfullurl | split: '?page=' | last | split: '&' | first
      assign current_page = page_param | plus: 0

      if current_page == 0
        assign current_page = 1
      endif
    -%}

    {%- capture meta_title -%}
        {%- case request.path -%}
            {%- when '/' -%}
                {{ 'homepage.meta_title.homepage' | t }}
            {%- when '/collections' -%}
                {{ 'collections.meta_title' | t }}
            {%- when '/policies/legal-notice' -%}
                {{ 'policies.legal_notice.meta_title' | t }}
            {%- when '/policies/terms-of-service' -%}
                {{ 'policies.terms_of_service.meta_title' | t }}
            {%- when '/policies/privacy-policy' -%}
                {{ 'policies.privacy_policy.meta_title' | t }}
            {%- when '/policies/refund-policy' -%}
                {{ 'policies.refund_policy.meta_title' | t }}
            {%- else -%}
                {{ page_title }}
                {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
                {%- if current_page > 1 %} &ndash; Seite {{ current_page }}{% endif -%}
        {%- endcase -%}
    {%- endcapture -%}

    {%- capture meta_description -%}
        {%- case request.path -%}
            {%- when '/' -%}
                {{ 'homepage.meta_description' | t }}
            {%- when '/collections' -%}
                {{ 'collections.meta_description' | t }}
            {%- when '/policies/legal-notice' -%}
                {{ 'policies.legal_notice.meta_description' | t }}
            {%- when '/policies/terms-of-service' -%}
                {{ 'policies.terms_of_service.meta_description' | t }}
            {%- when '/policies/privacy-policy' -%}
                {{ 'policies.privacy_policy.meta_description' | t }}
            {%- when '/policies/refund-policy' -%}
                {{ 'policies.refund_policy.meta_description' | t }}
            {%- else -%}
                {{ page_description | escape }}
        {%- endcase -%}
        {%- if current_page > 1 %} ― Seite {{ current_page }}{% endif -%}
    {%- endcapture -%}

    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_description }}">
    <meta property='og:title' content='{{ meta_title }}'>
    <meta property='og:description' content='{{ meta_description }}'>
    <meta name='twitter:title' content='{{ meta_title }}'>
    <meta name='twitter:description' content='{{ meta_description }}'>


    {% for item in noindex_data %}
      {% if request.path contains item or getfullurl contains item %}
        <meta name="robots" content="noindex, nofollow">
        {% break %}
      {% endif %}
    {% endfor %}