{%- liquid
  assign og_title = page_title | default: shop.name
  assign og_url = canonical_url | default: shop.url
  assign og_type = 'website'
  assign og_description = page_description | default: shop.description | default: shop.name

  if request.page_type == 'product'
    assign og_type = 'product'
  elsif request.page_type == 'article'
    assign og_type = 'article'
  elsif request.page_type == 'collection'
    assign og_type = 'product.group'
  elsif request.page_type == 'password'
    assign og_url = shop.url
  endif
-%}
<meta property='og:site_name' content='{{ shop.name }}'>
<meta property='og:url' content='{{ og_url }}'>
<meta property='og:type' content='{{ og_type }}'>
{%- if page_image -%}
  <meta
    property='og:image'
    content='http:{{ page_image | image_url: width: page_image.width, height: page_image.height }}'
  >
  <meta
    property='og:image:secure_url'
    content='https:{{ page_image | image_url: width: page_image.width, height: page_image.height }}'
  >
  <meta property='og:image:width' content='{{ page_image.width }}'>
  <meta property='og:image:height' content='{{ page_image.height }}'>
{%- endif -%}
{%- if request.page_type == 'product' -%}
  <meta property='og:price:amount' content='{{ product.price | money_without_currency | strip_html }}'>
  <meta property='og:price:currency' content='{{ cart.currency.iso_code }}'>
{%- endif -%}
{%- if settings.social_twitter_link != blank -%}
  <meta name='twitter:site' content='{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}'>
{%- endif -%}
<meta name='twitter:card' content='summary_large_image'>



    {%- liquid
      capture content_for_query_string
        echo content_for_header
      endcapture
      assign getfullurl = content_for_query_string | split: '"pageurl":"' | last | split: '"' | first | replace: '\/', '/' | replace: '\u0026', '&'
      assign noindex_data = "cart,checkouts,account,orders,search,apple-app-site-association,.well-known/shopify/monorail,recommendations/products,amp%3Bsrsltid,filter,sort_by,pr_prod_strat,accountnumber,oseid,preview_theme_id,preview_script_id" | split: ","


      assign page_param = getfullurl | split: '?page=' | last | split: '&' | first
      assign current_page = page_param | plus: 0

      if current_page == 0
        assign current_page = 1
      endif
    -%}

    {%- if current_page > 1 -%}

      <meta property='og:title' content='{{ og_title | escape }} ― Seite {{ current_page }}'>
      <meta property='og:description' content='{{ og_description | escape }} ― Seite {{ current_page }}'>
      <meta name='twitter:title' content='{{ og_title | escape }} ― Seite {{ current_page }}'>
      <meta name='twitter:description' content='{{ og_description | escape }} ― Seite {{ current_page }}'>

      <title>{{ page_title }} ― Seite {{ current_page }}</title>
      <meta name="description" content="{{ page_description }} ― Seite {{ current_page }}">
    {%- else -%}

        <meta property='og:title' content='{{ og_title | escape }}'>
        <meta property='og:description' content='{{ og_description | escape }}'>
        <meta name='twitter:title' content='{{ og_title | escape }}'>
        <meta name='twitter:description' content='{{ og_description | escape }}'>

        {%- if request.path == '/' %}

        {%- elsif request.path == '/collections' %}
          <title>Bijouterie ᐉ Modeschmuck voller Farbe und Persönlichkeit</title>
          <meta name="description" content="Bijouterie von ALEXASCHA ➠ Entdecke stilvolle Bijouterie ✔️ Nachhaltiger Modeschmuck ✔️ Kreative Designs und faire Herstellung">

        {%- elsif request.path == '/policies/legal-notice' %}
          <title>Impressum ᐉ Rechtliche Hinweise zu Alexascha</title>
          <meta name="description" content="Finde alle rechtlichen Angaben zu ALEXASCHA ➠ Verantwortlicher Anbieter ✔️ Kontaktinformationen ✔️ Transparente Kommunikation ✔️ Jetzt ansehen!">

        {%- elsif request.path == '/policies/terms-of-service' %}
          <title>Allgemeine Geschäftsbedingungen (AGB) ᐉ Transparente Geschäftsbedingungen</title>
          <meta name="description" content="Lies die Allgemeinen Geschäftsbedingungen von Alexascha ➠ Klare Regeln für Bestellungen, Versand, Rückgabe und mehr ✔️ Jetzt informieren!">

        {%- elsif request.path == '/policies/privacy-policy' %}
          <title>Datenschutz ᐉ Wir schützen Deine Daten bei Alexascha</title>
          <meta name="description" content="Erfahre, wie wir Deine Daten sicher und vertraulich behandeln ➠ Datenschutz ist uns wichtig ✔️ Transparente Richtlinien ✔️ Vertraue uns!">

        {%- elsif request.path == '/policies/refund-policy' %}
          <title>Widerrufsbelehrung ᐉ Dein Widerrufsrecht beim Online-Kauf</title>
          <meta name="description" content="Informiere dich über Dein Widerrufsrecht bei Alexascha ➠ Rückgabe und Stornierung leicht gemacht ✔️ Klare Richtlinien für Deinen Schutz ✔️ Jetzt lesen!">

        {%- else -%}


          <title>
            {{ page_title }}
            {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
            {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
            {% comment %}
                {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
            {% endcomment %}
          </title>
          {%- if page_description -%}
          <meta name='description' content='{{ page_description | escape }}'>
          {%- endif -%}
        {%- endif -%}

    {%- endif -%}


    {% for item in noindex_data %}
      {% if request.path contains item or getfullurl contains item %}
        <meta name="robots" content="noindex, nofollow">
        {% break %}
      {% endif %}
    {% endfor %}