<!doctype html>
<html lang='{{ request.locale.iso_code }}'>
  <head>
    <meta name="google-site-verification" content="UL_j5E61mfmGbBAON0WntvjzF9gpXPBZqHrapsvqTRo" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16711737174"></script> 
    <script>
      window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date());
      gtag('config', 'AW-16711737174'); 
    </script>
    <script>
      gtag('event', 'page_view', {
        'send_to': 'AW-16711737174',
        'value': '{{ page_title }}'
      }); 
    </script>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='theme-color' content='{{ settings.default_color_scheme }}'>

    {%- if settings.favicon != blank -%}
      <link rel='icon' type='image/png' href='{{ settings.favicon | image_url: width: 32, height: 32 }}'>
    {%- endif -%}
    {% render 'meta-tags' %}
    <link rel="canonical" href="{{ canonical_url | split: '?' | first }}">
    <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>
    <link rel='preconnect' href='https://fonts.shopifycdn.com' crossorigin>

    
    {% render 'css-variables' %}
    {% comment %}
    {{ 'bundle.js' | asset_url | preload_tag: as: 'script' }}
    {% endcomment %}
    {{ 'bundle.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'extra.css' | asset_url | stylesheet_tag: preload: true }}
    {% render 'fonts' %}

    {{ content_for_header }}

    <!--link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"-->
    <!--link rel="preload" as="image" href="https://dev-alexascha.myshopify.com/cdn/shop/files/alexascha-mix-and-match.jpg" fetchpriority="high"-->

  </head>
  <body class='color-{{ settings.default_color_scheme }} round-level-{{ settings.round_level }} {% if settings.round_level != "0" %} round-style {% endif %}'>
    <a id='SkipContent' class='visually-hidden skip-to-content-link btn btn--lg btn--solid' href='#MainContent'>
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% if template.name == 'password' %}
      {% sections 'password-header-group' %}
    {% else %}
      {% sections 'main-header-group' %}
      {% sections 'main-aside-group' %}
    {% endif %}

    {% sections 'popup-group' %}

    <main id='MainContent'>
      {{ content_for_layout }}
    </main>

    {%- if template.name == 'password' -%}
      {% sections 'password-footer-group' %}
    {%- else -%}
      {% sections 'main-footer-group' %}
    {%- endif -%}

    {%- render 'dialog-components' -%}
    {%- render 'interface-controls' -%}
    {%- render 'page-overlays' -%}

    <div id='Portal'></div>
    {%- render 'inject-routes' -%}
    {%- render 'save-global-data-in-global-scope' -%}
    <script>
      window.lazySizesConfig = window.lazySizesConfig || {}
      lazySizesConfig.loadMode = 1
    </script>
    <script src='{{ 'bundle.js' | asset_url }}' defer='defer'></script>
    <script src='{{ 'extra.js' | asset_url }}' defer='defer'></script>
    <script type="text/javascript" id="trustamiwidget" src="https://cdn.trustami.com/widgetapi/widget2/trustami-widget.js?cache=off" data-user="31ae1621831be5333185d875512bf5e52c480452" data-profile="56fe809a2b5d850d0c8b4693" data-platform="0" data-plugin="wc"></script>
  </body>
</html>
